<form action="/admin/changePass" method="post">
    <input type="password" id="oldpass" name="oldpass" placeholder="Введите старый пароль">
    <input type="password" id="newpass" name="newpass" placeholder="Введите новый пароль">
    <input type="password" id="repeatpass" name="repeatpass" placeholder="Повторите новый пароль">
    <button>Сменить пароль</button>
</form>