<link rel="stylesheet" href="/assets/css/contacts.css">

<h1 class="contacts-heading">Контакты</h1>

<div class="contacts-content">
    <div>
        <span>ФИО: </span>
        <b>Божко Константин Александрович</b>
    </div>

    <div>
        <span>E-mail: </span>
        <b>lomjector98@gmail.com</b>
    </div>
</div>