<section class="title">
    <div class="title-content">
        <div class="title-heading">
            <h1>Добро пожаловать в мой персональный блог</h1>
        </div>
        <div class="heading-image">
            <img src="./assets/img/main-photo.png" alt="Image: Main page image">
        </div>

    </div>

    <div class="about-blog">
        <div class="about-content">В этом блоге я буду делиться с вами с этапами моего развития. Просвещать интересными новостями и говорить об технологиях</div>

        <a href="/blog">Читать блог</a>
    </div>
</section>
