<form action="/admin/createBlog" method="POST" enctype="multipart/form-data">
    <br><label for="blogTitle">Заголовок статьи</label>
    <br><input type="text" name="blog-title" id="blogTitle" placeholder="Заголовок статьи">
    <br><label for="blogImage">Изображение статьи</label>
    <input type="file" name="blog-image" id="blogImage" accept="image/*,image/jpeg">
    <br><label for="blogContent">Содержание статьи</label>
    <br><textarea name="blog-content" id="blogContent"></textarea>

    <button>Сохранить</button>
</form> 